.total-tickets-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total-tickets {
    font-size: 24px;
}

.total-tickets-number {
    text-align: center;
    font-size: 24px;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-container {
    font-size: 18px;
    margin-right: 20px;
}

.high {
    color: red;
}

.middle {
    color: yellow;
}

.low {
    color: green;
}