<mat-card>
    <mat-card-content>
        <h1>Impressum</h1>

        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Alexander Gerzen<br />
            Falkenweg 14<br />
            58540 Meinerzhagen</p>

        <h2>Kontakt</h2>
        <p>Telefon: +49 (0) 17664624393<br />
            E-Mail: info@alex-gerzen.de</p>

        <p>Quelle: <a
                href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
        </p>
    </mat-card-content>
</mat-card>