<mat-card class="user-detail-header">
    <button mat-icon-button class="pin-upper-right-corner" [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="editUserDetail()">Edit</button>
    </mat-menu>

    <img src="./assets/img/male-profile.png" alt="">

    <div class="user-details">
        <h2>{{userData.firstName}} {{userData.lastName}}</h2>
        <div>{{userData.email}}</div>
    </div>
</mat-card>

<mat-card class="margin-top-32">
    <button mat-icon-button class="pin-upper-right-corner" [matMenuTriggerFor]="addressMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #addressMenu="matMenu">
        <button mat-menu-item (click)="editMenu()">Edit</button>
    </mat-menu>

    <mat-card-title class="padding-left-16 padding-top-16">Address</mat-card-title>
    <mat-card-content>
        {{userData.street}} <br>
        {{userData.zipCode}} {{userData.city}}
    </mat-card-content>
</mat-card>