<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Add User</h1>
    <div mat-dialog-content>

        <div class="padding-top-16">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Company Name</mat-label>
                <input [disabled]="loading" [(ngModel)]="customer.name" matInput placeholder="Company Name">
            </mat-form-field>
        </div>

        <div class="padding-top-16">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]="customer.city" matInput placeholder="City">
            </mat-form-field>
        </div>

        <div class="padding-top-16">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Streetname</mat-label>
                <input [disabled]="loading" [(ngModel)]="customer.streetname" matInput placeholder="Streetname">
            </mat-form-field>
        </div>

        <div class="padding-top-16">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Zip Code</mat-label>
                <input [disabled]="loading" [(ngModel)]="customer.zipCode" matInput placeholder="Zip Code">
            </mat-form-field>
        </div>

        <div class="padding-top-16">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Contact</mat-label>
                <input [disabled]="loading" [(ngModel)]="customer.contact" matInput placeholder="Contact">
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions class="button-container">
        <button [disabled]="loading" (click)="dialogRef.close()" mat-button>Cancel</button>
        <button [disabled]="loading" (click)="safeUser()" mat-button cdkFocusInitial>Safe</button>
    </div>
</div>