<mat-card class="height-100">
    <mat-card-content class="height-100">
        <mat-tab-group (click)="changeScrollbar()" class="height-100">
            <mat-tab label="High Prio">
                <mat-card id="ticketContainer0" class="height-100" class="all-tickets">
                    <div  (click)="openDialog(allUrgentTicketIds[i])"
                    *ngFor="let tickets of allUrgentTickets, , index as i" class="ticket-container">
                        <mat-card-header>
                            <mat-card-title>#{{allUrgentTickets[i]['ticketNumber']}}</mat-card-title>
                            <mat-card-subtitle>{{allUrgentTickets[i]['company']}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="bottom-left">
                                <p>Contact: {{allUrgentTickets[i]['contact']}}</p>
                                <p>{{allUrgentTickets[i]['ticketStatus']}}</p>
                            </div>
                            <p class="late-by">Due by {{allUrgentDates[i]}}</p>
                            <div class="title">{{allUrgentTickets[i]['title']}}</div>
                        </mat-card-content>
                        <p class="assignedEmployee">Assigned Employee: {{allUrgentTickets[i]['assignedEmployee']}}</p>
                        <button id="deleteButtonUrgent{{i}}"
                            (click)="deleteTicket($event, i, allUrgentTicketIds, 'Deleted')" class="ticket-menu"
                            mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab label="Middle Prio">
                <mat-card id="ticketContainer1" (click)="openDialog(allMiddleTicketIds[i])"
                    *ngFor="let tickets of allMiddleTickets, , index as i" class="ticket-container">
                    <mat-card-header>
                        <mat-card-title>#{{allMiddleTickets[i]['ticketNumber']}}</mat-card-title>
                        <mat-card-subtitle>{{allMiddleTickets[i]['company']}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="bottom-left">
                            <p>Contact: {{allMiddleTickets[i]['contact']}}</p>
                            <p>{{allMiddleTickets[i]['ticketStatus']}}</p>
                        </div>
                        <p class="late-by">Due by {{allMiddleDates[i]}}</p>
                        <div class="title">{{allMiddleTickets[i]['title']}}</div>
                    </mat-card-content>
                    <p class="assignedEmployee">Assigned Employee: {{allMiddleTickets[i]['assignedEmployee']}}</p>
                    <button id="deleteButtonUrgent{{i}}"
                        (click)="deleteTicket($event, i, allMiddleTicketIds, 'Deleted')" class="ticket-menu"
                        mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card>
            </mat-tab>
            <mat-tab label="Low Prio">
                <mat-card id="ticketContainer2" (click)="openDialog(allLowTicketIds[i])" *ngFor="let tickets of allLowTickets, , index as i"
                    class="ticket-container">
                    <mat-card-header>
                        <mat-card-title>#{{allLowTickets[i]['ticketNumber']}}</mat-card-title>
                        <mat-card-subtitle>{{allLowTickets[i]['company']}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="bottom-left">
                            <p>Contact: {{allLowTickets[i]['contact']}}</p>
                            <p>{{allLowTickets[i]['ticketStatus']}}</p>
                        </div>
                        <p class="late-by">Due by {{allLowDates[i]}}</p>
                        <div class="title">{{allLowTickets[i]['title']}}</div>
                    </mat-card-content>
                    <p class="assignedEmployee">Assigned Employee: {{allLowTickets[i]['assignedEmployee']}}</p>
                    <button id="deleteButtonUrgent{{i}}" (click)="deleteTicket($event, i, allLowTicketIds, 'Deleted')"
                        class="ticket-menu" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>