<div class="dashboard-container">
    <div class="upper-container">
        <div class="width-33">
            <app-notepad></app-notepad>
        </div>
        <app-line-chart class="margin-left-16px"></app-line-chart>
    </div>
    <div class="lower-container">
        <app-pie-chart></app-pie-chart>
        <div class="height-100 width-33 margin-left-16px">
            <app-unassigned-tickets class="height-50"></app-unassigned-tickets>
            <app-ranking class="height-50"></app-ranking>
        </div>
    </div>

</div>